/* PRIMEIRA PÁGINA */
.destaques ul,
.logotipo-parcerias ul {
    margin: 0;
    padding: 0;
}

.destaques li,
.logotipo-parcerias li {
    list-style: none;
    display: inline-block;
}

.destaques--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}