/* QUARTA PÁGINA */

#publicacoes {
    display: flex;
    width: 600px;
    margin: 5px 0px;
    padding: 10px;
}

#btn-publicar {
    padding: 5px;
}

.publicacao {
    border: 2px solid rgba(128, 128, 128, 0.219);
    border-radius: 2px;
    padding: 15px;
    margin: 20px 0;
}

.publicacao img {
    float: left;
    margin: -20px 0px;
    width: 60px;
}

.publicacao h2 {
    display: inline-block;
    padding-bottom: 5px;
}

.publicacao h2:hover {
    color: var(--cor-fonte);
    text-transform: 0.10s;
    border-bottom: 2px solid var(--cor-fonte);
}

.publicacao p {
    color: black;
    text-align: justify;
    padding: 5px;
}