/* QUINTA PÁGINA */

.login .container {
    max-width: 400px;
    position: absolute;
    top: 25%;
    right: 10%;
    padding: 32px;
    border: 1px solid #ccc;
    border-radius: 2px
}

.login form {
    flex-direction: column;
    text-align: center;
}

.login label {
    margin-top: 16px;
    text-align: left;
}

.login input {
    padding: 8px;
}

.login, .login p {
    text-align: center;
}

.login a:hover {
    border-bottom: 2px solid var(--cor-hover);
}