/* QUINTA PÁGINA */
.login .container {
    text-align: center;
    width: 400px;
    border: 2px solid #ccc;
    margin: 20px auto;
}

.login form {
    flex-direction: column;
    margin: auto;
    padding: 20px;
}

.login form label {
    text-align: left;
    padding-top: 8px;
}

.login .button {
    margin-top: 24px;
}