/* PARA TODAS PÁGINAS */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root {
    --cor01: #BBE8F2;
    --cor02: #94D7F2;
    --cor03: #5FB6D9;
    --cor04: #3D9DD9;
    --cor05: #0068b2;

    --cor06: #02b8bf;
    --cor07: #fafcfd;

    --cor-fonte: #0e4074;
}

.container {
    width: 1366px;
    max-width: 1080px;
    margin: auto;
}

header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.219);
}

.container-flex {
    display: flex;
}

header,
footer {
    /* background-color: #CCC; */
    background-color: var(--cor07);
    height: 80px;
}

header .container-flex,
footer .container-flex {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav li {
    display: inline;
    margin-right: 16px;
}

header nav li a {
    color: var(--cor-fonte);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* M A I N */

h1 {
    color: var(--cor05);
    font-family: Inter, Helvetica, Arial, sans-serif;
    margin: 10px 0px;
}

h2 {
    color: var(--cor05);
}

p {
    font-family: Inter, Helvetica, Arial, sans-serif;
    line-height: 25px;
    text-indent: 15px;
    text-align: justify;
}

/* F O O T E R */

footer {
    height: 64px;
    align-items: center;
}

footer li img {
    height: 32px;
}

/* PRIMEIRA PÁGINA */
.destaques ul,
.logotipo-parcerias ul {
    margin: 0;
    padding: 0;
}

.destaques li,
.logotipo-parcerias li {
    list-style: none;
    display: inline-block;
}

/* SEGUNDA PÁGINA */
.conteudo-principal {
    flex: 4;
}

aside {
    flex: 1;
}

/* TERCEIRA PÁGINA */
#imagem-sobre {
    float: right;
    margin: 10px;
}

.realizadores .container {
    text-align: center;
    margin: auto;
}

.realizadores li {
    width: 400px;
    padding: 20px;
    display: inline-block;
}

.realizadores p {
    text-align: justify;
}

/* QUINTA PÁGINA */
.login .container {
    text-align: center;
    width: 400px;
    border: 2px solid #ccc;
    margin: 20px auto;
}

.login form {
    flex-direction: column;
    margin: auto;
    padding: 20px;
}

.login form label {
    text-align: left;
    padding-top: 8px;
}

.login .button {
    margin-top: 24px;
}