@import url('1-index.css');
@import url('2-publicacoes.css');
@import url('3-sobre.css');
@import url('4-comunidade.css');
@import url('5-login.css');


/* PARA TODAS PÁGINAS */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Inter Tight", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor01: #BBE8F2;
    --cor-fonte: #0068b2;
    --cor-fundo: #fafcfd;
    --cor-hover: #0e4074;
}

.container {
    width: 1366px;
    max-width: 1080px;
    margin: auto;
}

.container-flex {
    display: flex;
}

header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.219);
}


header,
footer {
    background-color: var(--cor-fundo);
    height: 90px;
}

header .container-flex,
footer .container-flex {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#logo {
    width: 80px;
    border-radius: 40px;
}

header nav {
    margin-top: 25px;
}

header nav li {
    display: inline;
    margin-right: 16px;
}

header nav li a {
    color: var(--cor-fonte);
    font-family: "Inter Tight", sans-serif;
    font-weight: bold;
    padding-bottom: 5px;
}

header nav li a:hover {
    color: var(--cor-fonte);
    text-transform: 0.10s;
    border-bottom: 2px solid var(--cor-hover);
}

.secao-direita {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.secao-usuario {
    margin-bottom: 10px;
    color: var(--cor-fonte);
    font-family: "Inter Tight", sans-serif;
    font-size: 14px;
}

.secao-pesquisar {
    display: flex;
    align-items: center;
    width: 250px;
    padding: 5px;
}

.secao-pesquisar:hover {
    border-bottom: 2px solid var(--cor-hover)
}

#input-pesquisar {
    background-color: transparent;
    width: 230px;
    padding: 5px;
    border: none;
    outline: none;
}

/* M A I N */

h1 {
    color: var(--cor-fonte);
    font-family: "Inter Tight", sans-serif;
    margin: 10px 0px;
}

h2 {
    color: var(--cor-fonte);
}

p {
    font-family: Inter, Helvetica, Arial, sans-serif;
    line-height: 25px;
    text-indent: 15px;
    text-align: justify;
}

.logotipo-parcerias img{
    height: 120px;
    width: 120px;
}

.logotipo-parcerias{
    height: 400px;
    width: 400px;
}

.container-flex{
    display: flex;
    justify-content: space-evenly;
}

/* F O O T E R */

footer {
    height: 64px;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.219);
}

footer li img {
    height: 32px;
}