header {
    display: flex;
    width: 100%;
    background-color: #426A62;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    width: 50%;
    height: 60px;
    /* background-color: #0056b3; */

}

.nav--list {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav--item {
    padding: 4px 10px;
    transition: ease-in-out 0.3s;

}

.nav--link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: ease-in-out 0.3s;
}

.nav--link:hover {
    color: black;
}

.nav--link:active {
    background-color: rgb(200, 255, 185);
    font-size: 20px;
    padding: 4px 10px;
    border: 1px solid;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0056b3 !important;
}

.logo img {
    display: flex;
    width: 150px;
}

.btsearch {
    position: relative;
    width: 8vw;

}

.btsearch--icon {
    position: absolute;
    top: 1vh;
    left: 5%;
}

.search {
    width: 8vw;
    height: 30px;
    border-radius: 15px;
    padding-left: 25%;
    border: none;


}

.user {
    display: flex;
    position: absolute;
    right: 5px;
    top: 5px;
}

.user--link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.fa-circle-user {
    font-size: 20px;
    margin-right: 5px;
}







main {
    margin: 0 200px;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}

h2 {
    margin: 25px 0;
}

.destaque {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px;
    justify-content: center;
    gap: 10px;
}

.dtq {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.imgdestaque {
    height: 200px;
    width: 300px;
}

h3 {
    margin: 25px 0;
}

.parcr {
    display: grid;
    grid-template-areas:
        'mapa local1 local2 local3'
        'mapa local4 local5 local6'
        'mapa local7 local8 local9';
    align-items: center;
    justify-items: center;
}

#mapa {
    grid-area: mapa;
}

#local1 {
    grid-area: local1;
}

#local2 {
    grid-area: local2;
}

#local3 {
    grid-area: local3;
}

#local4 {
    grid-area: local4;
}

#local5 {
    grid-area: local5;
}

#local6 {
    grid-area: local6;
}

#local7 {
    grid-area: local7;
}

#local8 {
    grid-area: local8;
}

#local9 {
    grid-area: local9;
}

.parceiros {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: 10px;
}

.logoParceria {
    height: 80px;
    width: 80px;
}

.container {
    background-color: #f4f4f4;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

h4 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.btform {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btform:hover {
    background-color: #0056b3;
}

.btform:focus {
    outline: none;
}

footer {
    margin-top: 25px;
    height: 70px;
    background-color: #426A62;
}

.rsociais {
    height: 30px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}